In [1]:
from urllib import response
import requests
import pandas as pd
import json
import numpy as np
import config

## 1) PULL IN DATA FROM AN API.

In [2]:
#Importing Data from API
url='https://api-nba-v1.p.rapidapi.com/players'

querystring = {"team":"2","season":"2021"}

headers = {
	"X-RapidAPI-Key": config.api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

response.status_code

200

In [3]:
json = response.json()
json

{'get': 'players/',
 'parameters': {'team': '2', 'season': '2021'},
 'errors': [],
 'results': 41,
 'response': [{'id': 362,
   'firstname': 'CJ',
   'lastname': 'Miles',
   'birth': {'date': '1987-03-18', 'country': 'USA'},
   'nba': {'start': 2005, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': 'No College',
   'affiliation': 'No College/USA',
   'leagues': {'standard': {'jersey': 50, 'active': False, 'pos': None}}},
  {'id': 446,
   'firstname': 'Josh',
   'lastname': 'Richardson',
   'birth': {'date': '1993-09-15', 'country': 'USA'},
   'nba': {'start': 2015, 'pro': 6},
   'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
   'weight': {'pounds': '200', 'kilograms': '90.7'},
   'college': 'Tennessee',
   'affiliation': 'Tennessee/USA',
   'leagues': {'standard': {'jersey': 7, 'active': True, 'pos': 'G'}}},
  {'id': 75,
   'firstname': 'Jaylen',
   'lastname': 'Brown',
   'birth': {'date': '1996-10-24', 'country': 'USA'},
   'nba': {'start': 2016, 'pro': 5},
   'height': {'feets': '6', 'inches': '6', 'meters': '1.98'},
   'weight': {'pounds': '223', 'kilograms': '101.2'},
   'college': 'California',
   'affiliation': 'California/USA',
   'leagues': {'standard': {'jersey': 7, 'active': True, 'pos': 'G-F'}}},
  {'id': 597,
   'firstname': 'Zach',
   'lastname': 'Auguste',
   'birth': {'date': None, 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': None,
   'affiliation': None,
   'leagues': {'standard': {'jersey': 29, 'active': False, 'pos': None},
    'sacramento': {'jersey': 50, 'active': True, 'pos': 'F'},
    'vegas': {'jersey': 41, 'active': True, 'pos': 'C'}}},
  {'id': 230,
   'firstname': 'Juancho',
   'lastname': 'Hernangomez',
   'birth': {'date': '1995-09-28', 'country': 'Spain'},
   'nba': {'start': 2016, 'pro': 5},
   'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
   'weight': {'pounds': '214', 'kilograms': '97.1'},
   'college': 'Estudiantes',
   'affiliation': 'Estudiantes/Spain',
   'leagues': {'standard': {'jersey': 41, 'active': True, 'pos': 'F'}}},
  {'id': 609,
   'firstname': 'Ryan',
   'lastname': 'Arcidiacono',
   'birth': {'date': '1994-03-26', 'country': 'USA'},
   'nba': {'start': 2017, 'pro': 4},
   'height': {'feets': '6', 'inches': '3', 'meters': '1.9'},
   'weight': {'pounds': '195', 'kilograms': '88.5'},
   'college': 'Villanova',
   'affiliation': 'Villanova/USA',
   'leagues': {'standard': {'jersey': 51, 'active': True, 'pos': 'G'},
    'vegas': {'jersey': 51, 'active': True, 'pos': 'G'}}},
  {'id': 882,
   'firstname': 'Jayson',
   'lastname': 'Tatum',
   'birth': {'date': '1998-03-03', 'country': 'USA'},
   'nba': {'start': 2017, 'pro': 4},
   'height': {'feets': '6', 'inches': '8', 'meters': '2.03'},
   'weight': {'pounds': '210', 'kilograms': '95.3'},
   'college': 'Duke',
   'affiliation': 'Duke/USA',
   'leagues': {'standard': {'jersey': None, 'active': True, 'pos': 'F-G'}}},
  {'id': 806,
   'firstname': 'Justin',
   'lastname': 'Jackson',
   'birth': {'date': '1995-03-28', 'country': 'USA'},
   'nba': {'start': 2017, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': 'North Carolina',
   'affiliation': 'North Carolina/USA',
   'leagues': {'standard': {'jersey': 44, 'active': True, 'pos': 'F'},
    'sacramento': {'jersey': 25, 'active': True, 'pos': 'F'},
    'vegas': {'jersey': 52, 'active': True, 'pos': 'F'}}},
  {'id': 897,
   'firstname': 'Derrick',
   'lastname': 'White',
   'birth': {'date': '1994-07-02', 'country': 'USA'},
   'nba': {'start': 2017, 'pro': 4},
   'height': {'feets': '6', 'inches': '4', 'meters': '1.93'},
   'weight': {'pounds': '190', 'kilograms': '86.2'},
   'college': 'Colorado',
   'affiliation': 'Colorado/USA',
   'leagues': {'standard': {'jersey': 9, 'active': True, 'pos': 'G'},
    'vegas': {'jersey': 4, 'active': True, 'pos': 'G'},
    'utah': {'jersey': 4, 'active': True, 'pos': 'G'}}},
  {'id': 819,
   'firstname': 'Luke',
   'lastname': 'Kornet',
   'birth': {'date': '1995-07-15', 'country': 'USA'},
   'nba': {'start': 2017, 'pro': 4},
   'height': {'feets': '7', 'inches': '2', 'meters': '2.18'},
   'weight': {'pounds': '250', 'kilograms': '113.4'},
   'college': 'Vanderbilt',
   'affiliation': 'Vanderbilt/USA',
   'leagues': {'standard': {'jersey': 40, 'active': True, 'pos': 'C-F'},
    'vegas': {'jersey': 2, 'active': True, 'pos': 'F-C'}}},
  {'id': 886,
   'firstname': 'Daniel',
   'lastname': 'Theis',
   'birth': {'date': '1992-04-04', 'country': 'Germany'},
   'nba': {'start': 2017, 'pro': 4},
   'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
   'weight': {'pounds': '245', 'kilograms': '111.1'},
   'college': 'Brose Bamberg',
   'affiliation': 'Brose Bamberg/Germany',
   'leagues': {'standard': {'jersey': 27, 'active': True, 'pos': 'F-C'}}},
  {'id': 1858,
   'firstname': 'Bruno',
   'lastname': 'Fernando',
   'birth': {'date': '1998-08-15', 'country': 'Angola'},
   'nba': {'start': 2019, 'pro': 2},
   'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
   'weight': {'pounds': '240', 'kilograms': '108.9'},
   'college': 'Maryland',
   'affiliation': 'Maryland/Angola',
   'leagues': {'standard': {'jersey': 20, 'active': True, 'pos': 'F-C'},
    'vegas': {'jersey': 55, 'active': True, 'pos': 'F-C'}}},
  {'id': 1013,
   'firstname': 'Theo',
   'lastname': 'Pinson',
   'birth': {'date': '1995-11-05', 'country': 'USA'},
   'nba': {'start': 2018, 'pro': 3},
   'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
   'weight': {'pounds': '212', 'kilograms': '96.2'},
   'college': 'North Carolina',
   'affiliation': 'North Carolina/USA',
   'leagues': {'standard': {'jersey': 1, 'active': True, 'pos': 'G-F'},
    'vegas': {'jersey': 6, 'active': True, 'pos': 'G'}}},
  {'id': 1857,
   'firstname': 'Carsen',
   'lastname': 'Edwards',
   'birth': {'date': '1998-03-12', 'country': 'USA'},
   'nba': {'start': 2019, 'pro': 2},
   'height': {'feets': '5', 'inches': '11', 'meters': '1.8'},
   'weight': {'pounds': '200', 'kilograms': '90.7'},
   'college': 'Purdue',
   'affiliation': 'Purdue/USA',
   'leagues': {'standard': {'jersey': 4, 'active': True, 'pos': 'G'},
    'vegas': {'jersey': 4, 'active': True, 'pos': 'G'}}},
  {'id': 1045,
   'firstname': 'Robert',
   'lastname': 'Williams III',
   'birth': {'date': '1997-10-17', 'country': 'USA'},
   'nba': {'start': 2018, 'pro': 3},
   'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
   'weight': {'pounds': '237', 'kilograms': '107.5'},
   'college': 'Texas A&M',
   'affiliation': 'Texas A&M/USA',
   'leagues': {'standard': {'jersey': 44, 'active': True, 'pos': 'C-F'},
    'vegas': {'jersey': 44, 'active': True, 'pos': 'C'}}},
  {'id': 1514,
   'firstname': 'Kelan',
   'lastname': 'Martin',
   'birth': {'date': None, 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': None,
   'affiliation': None,
   'leagues': {'vegas': {'jersey': 30, 'active': True, 'pos': 'F'},
    'utah': {'jersey': 42, 'active': True, 'pos': 'F'},
    'standard': {'jersey': 4, 'active': False, 'pos': None}}},
  {'id': 1874,
   'firstname': 'Romeo',
   'lastname': 'Langford',
   'birth': {'date': '1999-10-25', 'country': 'USA'},
   'nba': {'start': 2019, 'pro': 2},
   'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
   'weight': {'pounds': '216', 'kilograms': '98.0'},
   'college': 'Indiana',
   'affiliation': 'Indiana/USA',
   'leagues': {'standard': {'jersey': 35, 'active': True, 'pos': 'G-F'},
    'vegas': {'jersey': 9, 'active': True, 'pos': 'G'}}},
  {'id': 1920,
   'firstname': 'Dedric',
   'lastname': 'Lawson',
   'birth': {'date': None, 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': None,
   'affiliation': None,
   'leagues': {'sacramento': {'jersey': 18, 'active': True, 'pos': 'C-F'},
    'vegas': {'jersey': 30, 'active': True, 'pos': 'F'},
    'standard': {'jersey': 17, 'active': False, 'pos': None}}},
  {'id': 1901,
   'firstname': 'Grant',
   'lastname': 'Williams',
   'birth': {'date': '1998-11-30', 'country': 'USA'},
   'nba': {'start': 2019, 'pro': 2},
   'height': {'feets': '6', 'inches': '6', 'meters': '1.98'},
   'weight': {'pounds': '236', 'kilograms': '107.0'},
   'college': 'Tennessee',
   'affiliation': 'Tennessee/USA',
   'leagues': {'standard': {'jersey': 12, 'active': True, 'pos': 'F'},
    'vegas': {'jersey': 40, 'active': True, 'pos': 'F'}}},
  {'id': 1917,
   'firstname': 'Aric',
   'lastname': 'Holman',
   'birth': {'date': None, 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': None,
   'affiliation': None,
   'leagues': {'sacramento': {'jersey': 35, 'active': True, 'pos': 'F'},
    'vegas': {'jersey': 35, 'active': True, 'pos': 'F-C'},
    'standard': {'jersey': 35, 'active': True, 'pos': 'F-C'}}},
  {'id': 2327,
   'firstname': 'Garrison',
   'lastname': 'Mathews',
   'birth': {'date': None, 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': None,
   'affiliation': None,
   'leagues': {'vegas': {'jersey': 24, 'active': True, 'pos': 'F'},
    'standard': {'jersey': 25, 'active': True, 'pos': 'G'}}},
  {'id': 2438,
   'firstname': 'Juwan',
   'lastname': 'Morgan',
   'birth': {'date': '1997-04-17', 'country': 'USA'},
   'nba': {'start': 2019, 'pro': 2},
   'height': {'feets': '6', 'inches': '7', 'meters': '2.01'},
   'weight': {'pounds': '232', 'kilograms': '105.2'},
   'college': 'Indiana',
   'affiliation': 'Indiana/USA',
   'leagues': {'standard': {'jersey': 16, 'active': False, 'pos': None},
    'vegas': {'jersey': 16, 'active': True, 'pos': 'F'},
    'utah': {'jersey': 16, 'active': True, 'pos': 'F'}}},
  {'id': 2626,
   'firstname': 'Aaron',
   'lastname': 'Nesmith',
   'birth': {'date': '1999-10-16', 'country': 'USA'},
   'nba': {'start': 2020, 'pro': 1},
   'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
   'weight': {'pounds': '215', 'kilograms': '97.5'},
   'college': 'Vanderbilt',
   'affiliation': 'Vanderbilt/USA',
   'leagues': {'standard': {'jersey': 23, 'active': True, 'pos': 'G-F'},
    'vegas': {'jersey': 23, 'active': True, 'pos': 'G'}}},
  {'id': 2635,
   'firstname': 'Payton',
   'lastname': 'Pritchard',
   'birth': {'date': '1998-01-28', 'country': 'USA'},
   'nba': {'start': 2020, 'pro': 1},
   'height': {'feets': '6', 'inches': '1', 'meters': '1.85'},
   'weight': {'pounds': '195', 'kilograms': '88.5'},
   'college': 'Oregon',
   'affiliation': 'Oregon/USA',
   'leagues': {'standard': {'jersey': 11, 'active': True, 'pos': 'G'},
    'vegas': {'jersey': 11, 'active': True, 'pos': 'G'}}},
  {'id': 2612,
   'firstname': 'Yam',
   'lastname': 'Madar',
   'birth': {'date': None, 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': None,
   'affiliation': None,
   'leagues': {'standard': {'jersey': None, 'active': True, 'pos': 'G'},
    'vegas': {'jersey': 28, 'active': True, 'pos': 'G'}}},
  {'id': 2586,
   'firstname': 'Malik',
   'lastname': 'Fitts',
   'birth': {'date': '1997-07-04', 'country': 'USA'},
   'nba': {'start': 2020, 'pro': 1},
   'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
   'weight': {'pounds': '230', 'kilograms': '104.3'},
   'college': "St. Mary's College",
   'affiliation': "St. Mary's College/USA",
   'leagues': {'standard': {'jersey': 8, 'active': True, 'pos': 'F'},
    'vegas': {'jersey': 18, 'active': False, 'pos': None}}},
  {'id': 2654,
   'firstname': 'Brodric',
   'lastname': 'Thomas',
   'birth': {'date': '1997-01-28', 'country': 'USA'},
   'nba': {'start': 2020, 'pro': 1},
   'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
   'weight': {'pounds': '185', 'kilograms': '83.9'},
   'college': 'Truman State',
   'affiliation': 'Truman State/USA',
   'leagues': {'standard': {'jersey': 97, 'active': True, 'pos': 'G'},
    'vegas': {'jersey': 97, 'active': True, 'pos': 'G'}}},
  {'id': 3195,
   'firstname': 'Matt',
   'lastname': 'Ryan',
   'birth': {'date': '1997-04-17', 'country': 'USA'},
   'nba': {'start': 2021, 'pro': 0},
   'height': {'feets': '6', 'inches': '7', 'meters': '2.01'},
   'weight': {'pounds': '215', 'kilograms': '97.5'},
   'college': 'Tennessee-Chattanooga',
   'affiliation': 'Tennessee-Chattanooga/USA',
   'leagues': {'vegas': {'jersey': 37, 'active': True, 'pos': 'F'},
    'standard': {'jersey': None, 'active': True, 'pos': 'F'}}},
  {'id': 2812,
   'firstname': 'Sam',
   'lastname': 'Hauser',
   'birth': {'date': '1997-12-08', 'country': 'USA'},
   'nba': {'start': 2021, 'pro': 0},
   'height': {'feets': '6', 'inches': '7', 'meters': '2.01'},
   'weight': {'pounds': '217', 'kilograms': '98.4'},
   'college': 'Virginia',
   'affiliation': 'Virginia/USA',
   'leagues': {'standard': {'jersey': 30, 'active': True, 'pos': 'F'},
    'vegas': {'jersey': 30, 'active': True, 'pos': 'F'}}},
  {'id': 2791,
   'firstname': 'Juhann',
   'lastname': 'Begarin',
   'birth': {'date': '2002-08-07', 'country': 'France'},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
   'weight': {'pounds': '185', 'kilograms': '83.9'},
   'college': 'Paris Basketball',
   'affiliation': 'Paris Basketball/France',
   'leagues': {'standard': {'jersey': None, 'active': True, 'pos': 'G'},
    'vegas': {'jersey': 45, 'active': True, 'pos': 'G-F'}}},
  {'id': 248,
   'firstname': 'Al',
   'lastname': 'Horford',
   'birth': {'date': '1986-06-03', 'country': 'Dominican Republic'},
   'nba': {'start': 2007, 'pro': 14},
   'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
   'weight': {'pounds': '240', 'kilograms': '108.9'},
   'college': 'Florida',
   'affiliation': 'Florida/Dominican Republic',
   'leagues': {'standard': {'jersey': 42, 'active': True, 'pos': 'C-F'}}},
  {'id': 12,
   'firstname': 'Al-Farouq',
   'lastname': 'Aminu',
   'birth': {'date': None, 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': None,
   'affiliation': None,
   'leagues': {'standard': {'jersey': 72, 'active': False, 'pos': None},
    'africa': {'jersey': 8, 'active': True, 'pos': 'F'}}},
  {'id': 291,
   'firstname': 'Enes',
   'lastname': 'Freedom',
   'birth': {'date': '1992-05-20', 'country': 'Turkey'},
   'nba': {'start': 2011, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': '                                   ',
   'affiliation': 'Fenerbahce/Turkey',
   'leagues': {'standard': {'jersey': 13, 'active': False, 'pos': None}}},
  {'id': 472,
   'firstname': 'Dennis',
   'lastname': 'Schroder',
   'birth': {'date': '1993-09-15', 'country': 'Germany'},
   'nba': {'start': 2013, 'pro': 8},
   'height': {'feets': '6', 'inches': '1', 'meters': '1.85'},
   'weight': {'pounds': '172', 'kilograms': '78.0'},
   'college': 'Braunschweig',
   'affiliation': 'Braunschweig/Germany',
   'leagues': {'standard': {'jersey': 17, 'active': True, 'pos': 'G'}}},
  {'id': 1012,
   'firstname': 'Norvel',
   'lastname': 'Pelle',
   'birth': {'date': '1993-02-03', 'country': 'USA'},
   'nba': {'start': 2019, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': 'Iona',
   'affiliation': 'Iona/USA',
   'leagues': {'standard': {'jersey': 5, 'active': False, 'pos': None},
    'vegas': {'jersey': 14, 'active': True, 'pos': 'C'}}},
  {'id': 496,
   'firstname': 'Nik',
   'lastname': 'Stauskas',
   'birth': {'date': '1993-10-07', 'country': 'Canada'},
   'nba': {'start': 2014, 'pro': 5},
   'height': {'feets': '6', 'inches': '6', 'meters': '1.98'},
   'weight': {'pounds': '207', 'kilograms': '93.9'},
   'college': 'Michigan',
   'affiliation': 'Michigan/Canada',
   'leagues': {'standard': {'jersey': 13, 'active': True, 'pos': 'G'}}},
  {'id': 486,
   'firstname': 'Marcus',
   'lastname': 'Smart',
   'birth': {'date': '1994-03-06', 'country': 'USA'},
   'nba': {'start': 2014, 'pro': 7},
   'height': {'feets': '6', 'inches': '4', 'meters': '1.93'},
   'weight': {'pounds': '220', 'kilograms': '99.8'},
   'college': 'Oklahoma State',
   'affiliation': 'Oklahoma State/USA',
   'leagues': {'standard': {'jersey': 36, 'active': True, 'pos': 'G'}}},
  {'id': 410,
   'firstname': 'Jabari',
   'lastname': 'Parker',
   'birth': {'date': '1995-03-15', 'country': 'USA'},
   'nba': {'start': 2014, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': 'Duke',
   'affiliation': 'Duke/USA',
   'leagues': {'standard': {'jersey': 20, 'active': False, 'pos': None}}},
  {'id': 275,
   'firstname': 'Joe',
   'lastname': 'Johnson',
   'birth': {'date': '1981-06-29', 'country': 'USA'},
   'nba': {'start': 2001, 'pro': 0},
   'height': {'feets': None, 'inches': None, 'meters': None},
   'weight': {'pounds': None, 'kilograms': None},
   'college': 'Arkansas',
   'affiliation': 'Arkansas/USA',
   'leagues': {'standard': {'jersey': 55, 'active': False, 'pos': None}}},
  {'id': 3252,
   'firstname': 'Arnas',
   'lastname': 'Velicka',
   'birth': {'date': '1999-12-10', 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': '6', 'inches': '4', 'meters': '1.93'},
   'weight': {'pounds': '192', 'kilograms': '87.1'},
   'college': 'Basket Lowen Braunschweig',
   'affiliation': None,
   'leagues': {'vegas': {'jersey': 61, 'active': True, 'pos': 'G'}}},
  {'id': 3100,
   'firstname': 'K.J.',
   'lastname': 'Lawson',
   'birth': {'date': '1996-05-07', 'country': None},
   'nba': {'start': 0, 'pro': 0},
   'height': {'feets': '6', 'inches': '7', 'meters': '2.01'},
   'weight': {'pounds': '215', 'kilograms': '97.5'},
   'college': 'Tulane',
   'affiliation': None,
   'leagues': {'vegas': {'jersey': 50, 'active': True, 'pos': 'F'}}}]}

In [4]:
json.keys()

dict_keys(['get', 'parameters', 'errors', 'results', 'response'])

In [5]:
#Pulling in the data we want from the json
data = json['response']
data

[{'id': 362,
  'firstname': 'CJ',
  'lastname': 'Miles',
  'birth': {'date': '1987-03-18', 'country': 'USA'},
  'nba': {'start': 2005, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': 'No College',
  'affiliation': 'No College/USA',
  'leagues': {'standard': {'jersey': 50, 'active': False, 'pos': None}}},
 {'id': 446,
  'firstname': 'Josh',
  'lastname': 'Richardson',
  'birth': {'date': '1993-09-15', 'country': 'USA'},
  'nba': {'start': 2015, 'pro': 6},
  'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
  'weight': {'pounds': '200', 'kilograms': '90.7'},
  'college': 'Tennessee',
  'affiliation': 'Tennessee/USA',
  'leagues': {'standard': {'jersey': 7, 'active': True, 'pos': 'G'}}},
 {'id': 75,
  'firstname': 'Jaylen',
  'lastname': 'Brown',
  'birth': {'date': '1996-10-24', 'country': 'USA'},
  'nba': {'start': 2016, 'pro': 5},
  'height': {'feets': '6', 'inches': '6', 'meters': '1.98'},
  'weight': {'pounds': '223', 'kilograms': '101.2'},
  'college': 'California',
  'affiliation': 'California/USA',
  'leagues': {'standard': {'jersey': 7, 'active': True, 'pos': 'G-F'}}},
 {'id': 597,
  'firstname': 'Zach',
  'lastname': 'Auguste',
  'birth': {'date': None, 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': None,
  'affiliation': None,
  'leagues': {'standard': {'jersey': 29, 'active': False, 'pos': None},
   'sacramento': {'jersey': 50, 'active': True, 'pos': 'F'},
   'vegas': {'jersey': 41, 'active': True, 'pos': 'C'}}},
 {'id': 230,
  'firstname': 'Juancho',
  'lastname': 'Hernangomez',
  'birth': {'date': '1995-09-28', 'country': 'Spain'},
  'nba': {'start': 2016, 'pro': 5},
  'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
  'weight': {'pounds': '214', 'kilograms': '97.1'},
  'college': 'Estudiantes',
  'affiliation': 'Estudiantes/Spain',
  'leagues': {'standard': {'jersey': 41, 'active': True, 'pos': 'F'}}},
 {'id': 609,
  'firstname': 'Ryan',
  'lastname': 'Arcidiacono',
  'birth': {'date': '1994-03-26', 'country': 'USA'},
  'nba': {'start': 2017, 'pro': 4},
  'height': {'feets': '6', 'inches': '3', 'meters': '1.9'},
  'weight': {'pounds': '195', 'kilograms': '88.5'},
  'college': 'Villanova',
  'affiliation': 'Villanova/USA',
  'leagues': {'standard': {'jersey': 51, 'active': True, 'pos': 'G'},
   'vegas': {'jersey': 51, 'active': True, 'pos': 'G'}}},
 {'id': 882,
  'firstname': 'Jayson',
  'lastname': 'Tatum',
  'birth': {'date': '1998-03-03', 'country': 'USA'},
  'nba': {'start': 2017, 'pro': 4},
  'height': {'feets': '6', 'inches': '8', 'meters': '2.03'},
  'weight': {'pounds': '210', 'kilograms': '95.3'},
  'college': 'Duke',
  'affiliation': 'Duke/USA',
  'leagues': {'standard': {'jersey': None, 'active': True, 'pos': 'F-G'}}},
 {'id': 806,
  'firstname': 'Justin',
  'lastname': 'Jackson',
  'birth': {'date': '1995-03-28', 'country': 'USA'},
  'nba': {'start': 2017, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': 'North Carolina',
  'affiliation': 'North Carolina/USA',
  'leagues': {'standard': {'jersey': 44, 'active': True, 'pos': 'F'},
   'sacramento': {'jersey': 25, 'active': True, 'pos': 'F'},
   'vegas': {'jersey': 52, 'active': True, 'pos': 'F'}}},
 {'id': 897,
  'firstname': 'Derrick',
  'lastname': 'White',
  'birth': {'date': '1994-07-02', 'country': 'USA'},
  'nba': {'start': 2017, 'pro': 4},
  'height': {'feets': '6', 'inches': '4', 'meters': '1.93'},
  'weight': {'pounds': '190', 'kilograms': '86.2'},
  'college': 'Colorado',
  'affiliation': 'Colorado/USA',
  'leagues': {'standard': {'jersey': 9, 'active': True, 'pos': 'G'},
   'vegas': {'jersey': 4, 'active': True, 'pos': 'G'},
   'utah': {'jersey': 4, 'active': True, 'pos': 'G'}}},
 {'id': 819,
  'firstname': 'Luke',
  'lastname': 'Kornet',
  'birth': {'date': '1995-07-15', 'country': 'USA'},
  'nba': {'start': 2017, 'pro': 4},
  'height': {'feets': '7', 'inches': '2', 'meters': '2.18'},
  'weight': {'pounds': '250', 'kilograms': '113.4'},
  'college': 'Vanderbilt',
  'affiliation': 'Vanderbilt/USA',
  'leagues': {'standard': {'jersey': 40, 'active': True, 'pos': 'C-F'},
   'vegas': {'jersey': 2, 'active': True, 'pos': 'F-C'}}},
 {'id': 886,
  'firstname': 'Daniel',
  'lastname': 'Theis',
  'birth': {'date': '1992-04-04', 'country': 'Germany'},
  'nba': {'start': 2017, 'pro': 4},
  'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
  'weight': {'pounds': '245', 'kilograms': '111.1'},
  'college': 'Brose Bamberg',
  'affiliation': 'Brose Bamberg/Germany',
  'leagues': {'standard': {'jersey': 27, 'active': True, 'pos': 'F-C'}}},
 {'id': 1858,
  'firstname': 'Bruno',
  'lastname': 'Fernando',
  'birth': {'date': '1998-08-15', 'country': 'Angola'},
  'nba': {'start': 2019, 'pro': 2},
  'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
  'weight': {'pounds': '240', 'kilograms': '108.9'},
  'college': 'Maryland',
  'affiliation': 'Maryland/Angola',
  'leagues': {'standard': {'jersey': 20, 'active': True, 'pos': 'F-C'},
   'vegas': {'jersey': 55, 'active': True, 'pos': 'F-C'}}},
 {'id': 1013,
  'firstname': 'Theo',
  'lastname': 'Pinson',
  'birth': {'date': '1995-11-05', 'country': 'USA'},
  'nba': {'start': 2018, 'pro': 3},
  'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
  'weight': {'pounds': '212', 'kilograms': '96.2'},
  'college': 'North Carolina',
  'affiliation': 'North Carolina/USA',
  'leagues': {'standard': {'jersey': 1, 'active': True, 'pos': 'G-F'},
   'vegas': {'jersey': 6, 'active': True, 'pos': 'G'}}},
 {'id': 1857,
  'firstname': 'Carsen',
  'lastname': 'Edwards',
  'birth': {'date': '1998-03-12', 'country': 'USA'},
  'nba': {'start': 2019, 'pro': 2},
  'height': {'feets': '5', 'inches': '11', 'meters': '1.8'},
  'weight': {'pounds': '200', 'kilograms': '90.7'},
  'college': 'Purdue',
  'affiliation': 'Purdue/USA',
  'leagues': {'standard': {'jersey': 4, 'active': True, 'pos': 'G'},
   'vegas': {'jersey': 4, 'active': True, 'pos': 'G'}}},
 {'id': 1045,
  'firstname': 'Robert',
  'lastname': 'Williams III',
  'birth': {'date': '1997-10-17', 'country': 'USA'},
  'nba': {'start': 2018, 'pro': 3},
  'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
  'weight': {'pounds': '237', 'kilograms': '107.5'},
  'college': 'Texas A&M',
  'affiliation': 'Texas A&M/USA',
  'leagues': {'standard': {'jersey': 44, 'active': True, 'pos': 'C-F'},
   'vegas': {'jersey': 44, 'active': True, 'pos': 'C'}}},
 {'id': 1514,
  'firstname': 'Kelan',
  'lastname': 'Martin',
  'birth': {'date': None, 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': None,
  'affiliation': None,
  'leagues': {'vegas': {'jersey': 30, 'active': True, 'pos': 'F'},
   'utah': {'jersey': 42, 'active': True, 'pos': 'F'},
   'standard': {'jersey': 4, 'active': False, 'pos': None}}},
 {'id': 1874,
  'firstname': 'Romeo',
  'lastname': 'Langford',
  'birth': {'date': '1999-10-25', 'country': 'USA'},
  'nba': {'start': 2019, 'pro': 2},
  'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
  'weight': {'pounds': '216', 'kilograms': '98.0'},
  'college': 'Indiana',
  'affiliation': 'Indiana/USA',
  'leagues': {'standard': {'jersey': 35, 'active': True, 'pos': 'G-F'},
   'vegas': {'jersey': 9, 'active': True, 'pos': 'G'}}},
 {'id': 1920,
  'firstname': 'Dedric',
  'lastname': 'Lawson',
  'birth': {'date': None, 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': None,
  'affiliation': None,
  'leagues': {'sacramento': {'jersey': 18, 'active': True, 'pos': 'C-F'},
   'vegas': {'jersey': 30, 'active': True, 'pos': 'F'},
   'standard': {'jersey': 17, 'active': False, 'pos': None}}},
 {'id': 1901,
  'firstname': 'Grant',
  'lastname': 'Williams',
  'birth': {'date': '1998-11-30', 'country': 'USA'},
  'nba': {'start': 2019, 'pro': 2},
  'height': {'feets': '6', 'inches': '6', 'meters': '1.98'},
  'weight': {'pounds': '236', 'kilograms': '107.0'},
  'college': 'Tennessee',
  'affiliation': 'Tennessee/USA',
  'leagues': {'standard': {'jersey': 12, 'active': True, 'pos': 'F'},
   'vegas': {'jersey': 40, 'active': True, 'pos': 'F'}}},
 {'id': 1917,
  'firstname': 'Aric',
  'lastname': 'Holman',
  'birth': {'date': None, 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': None,
  'affiliation': None,
  'leagues': {'sacramento': {'jersey': 35, 'active': True, 'pos': 'F'},
   'vegas': {'jersey': 35, 'active': True, 'pos': 'F-C'},
   'standard': {'jersey': 35, 'active': True, 'pos': 'F-C'}}},
 {'id': 2327,
  'firstname': 'Garrison',
  'lastname': 'Mathews',
  'birth': {'date': None, 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': None,
  'affiliation': None,
  'leagues': {'vegas': {'jersey': 24, 'active': True, 'pos': 'F'},
   'standard': {'jersey': 25, 'active': True, 'pos': 'G'}}},
 {'id': 2438,
  'firstname': 'Juwan',
  'lastname': 'Morgan',
  'birth': {'date': '1997-04-17', 'country': 'USA'},
  'nba': {'start': 2019, 'pro': 2},
  'height': {'feets': '6', 'inches': '7', 'meters': '2.01'},
  'weight': {'pounds': '232', 'kilograms': '105.2'},
  'college': 'Indiana',
  'affiliation': 'Indiana/USA',
  'leagues': {'standard': {'jersey': 16, 'active': False, 'pos': None},
   'vegas': {'jersey': 16, 'active': True, 'pos': 'F'},
   'utah': {'jersey': 16, 'active': True, 'pos': 'F'}}},
 {'id': 2626,
  'firstname': 'Aaron',
  'lastname': 'Nesmith',
  'birth': {'date': '1999-10-16', 'country': 'USA'},
  'nba': {'start': 2020, 'pro': 1},
  'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
  'weight': {'pounds': '215', 'kilograms': '97.5'},
  'college': 'Vanderbilt',
  'affiliation': 'Vanderbilt/USA',
  'leagues': {'standard': {'jersey': 23, 'active': True, 'pos': 'G-F'},
   'vegas': {'jersey': 23, 'active': True, 'pos': 'G'}}},
 {'id': 2635,
  'firstname': 'Payton',
  'lastname': 'Pritchard',
  'birth': {'date': '1998-01-28', 'country': 'USA'},
  'nba': {'start': 2020, 'pro': 1},
  'height': {'feets': '6', 'inches': '1', 'meters': '1.85'},
  'weight': {'pounds': '195', 'kilograms': '88.5'},
  'college': 'Oregon',
  'affiliation': 'Oregon/USA',
  'leagues': {'standard': {'jersey': 11, 'active': True, 'pos': 'G'},
   'vegas': {'jersey': 11, 'active': True, 'pos': 'G'}}},
 {'id': 2612,
  'firstname': 'Yam',
  'lastname': 'Madar',
  'birth': {'date': None, 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': None,
  'affiliation': None,
  'leagues': {'standard': {'jersey': None, 'active': True, 'pos': 'G'},
   'vegas': {'jersey': 28, 'active': True, 'pos': 'G'}}},
 {'id': 2586,
  'firstname': 'Malik',
  'lastname': 'Fitts',
  'birth': {'date': '1997-07-04', 'country': 'USA'},
  'nba': {'start': 2020, 'pro': 1},
  'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
  'weight': {'pounds': '230', 'kilograms': '104.3'},
  'college': "St. Mary's College",
  'affiliation': "St. Mary's College/USA",
  'leagues': {'standard': {'jersey': 8, 'active': True, 'pos': 'F'},
   'vegas': {'jersey': 18, 'active': False, 'pos': None}}},
 {'id': 2654,
  'firstname': 'Brodric',
  'lastname': 'Thomas',
  'birth': {'date': '1997-01-28', 'country': 'USA'},
  'nba': {'start': 2020, 'pro': 1},
  'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
  'weight': {'pounds': '185', 'kilograms': '83.9'},
  'college': 'Truman State',
  'affiliation': 'Truman State/USA',
  'leagues': {'standard': {'jersey': 97, 'active': True, 'pos': 'G'},
   'vegas': {'jersey': 97, 'active': True, 'pos': 'G'}}},
 {'id': 3195,
  'firstname': 'Matt',
  'lastname': 'Ryan',
  'birth': {'date': '1997-04-17', 'country': 'USA'},
  'nba': {'start': 2021, 'pro': 0},
  'height': {'feets': '6', 'inches': '7', 'meters': '2.01'},
  'weight': {'pounds': '215', 'kilograms': '97.5'},
  'college': 'Tennessee-Chattanooga',
  'affiliation': 'Tennessee-Chattanooga/USA',
  'leagues': {'vegas': {'jersey': 37, 'active': True, 'pos': 'F'},
   'standard': {'jersey': None, 'active': True, 'pos': 'F'}}},
 {'id': 2812,
  'firstname': 'Sam',
  'lastname': 'Hauser',
  'birth': {'date': '1997-12-08', 'country': 'USA'},
  'nba': {'start': 2021, 'pro': 0},
  'height': {'feets': '6', 'inches': '7', 'meters': '2.01'},
  'weight': {'pounds': '217', 'kilograms': '98.4'},
  'college': 'Virginia',
  'affiliation': 'Virginia/USA',
  'leagues': {'standard': {'jersey': 30, 'active': True, 'pos': 'F'},
   'vegas': {'jersey': 30, 'active': True, 'pos': 'F'}}},
 {'id': 2791,
  'firstname': 'Juhann',
  'lastname': 'Begarin',
  'birth': {'date': '2002-08-07', 'country': 'France'},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': '6', 'inches': '5', 'meters': '1.96'},
  'weight': {'pounds': '185', 'kilograms': '83.9'},
  'college': 'Paris Basketball',
  'affiliation': 'Paris Basketball/France',
  'leagues': {'standard': {'jersey': None, 'active': True, 'pos': 'G'},
   'vegas': {'jersey': 45, 'active': True, 'pos': 'G-F'}}},
 {'id': 248,
  'firstname': 'Al',
  'lastname': 'Horford',
  'birth': {'date': '1986-06-03', 'country': 'Dominican Republic'},
  'nba': {'start': 2007, 'pro': 14},
  'height': {'feets': '6', 'inches': '9', 'meters': '2.06'},
  'weight': {'pounds': '240', 'kilograms': '108.9'},
  'college': 'Florida',
  'affiliation': 'Florida/Dominican Republic',
  'leagues': {'standard': {'jersey': 42, 'active': True, 'pos': 'C-F'}}},
 {'id': 12,
  'firstname': 'Al-Farouq',
  'lastname': 'Aminu',
  'birth': {'date': None, 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': None,
  'affiliation': None,
  'leagues': {'standard': {'jersey': 72, 'active': False, 'pos': None},
   'africa': {'jersey': 8, 'active': True, 'pos': 'F'}}},
 {'id': 291,
  'firstname': 'Enes',
  'lastname': 'Freedom',
  'birth': {'date': '1992-05-20', 'country': 'Turkey'},
  'nba': {'start': 2011, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': '                                   ',
  'affiliation': 'Fenerbahce/Turkey',
  'leagues': {'standard': {'jersey': 13, 'active': False, 'pos': None}}},
 {'id': 472,
  'firstname': 'Dennis',
  'lastname': 'Schroder',
  'birth': {'date': '1993-09-15', 'country': 'Germany'},
  'nba': {'start': 2013, 'pro': 8},
  'height': {'feets': '6', 'inches': '1', 'meters': '1.85'},
  'weight': {'pounds': '172', 'kilograms': '78.0'},
  'college': 'Braunschweig',
  'affiliation': 'Braunschweig/Germany',
  'leagues': {'standard': {'jersey': 17, 'active': True, 'pos': 'G'}}},
 {'id': 1012,
  'firstname': 'Norvel',
  'lastname': 'Pelle',
  'birth': {'date': '1993-02-03', 'country': 'USA'},
  'nba': {'start': 2019, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': 'Iona',
  'affiliation': 'Iona/USA',
  'leagues': {'standard': {'jersey': 5, 'active': False, 'pos': None},
   'vegas': {'jersey': 14, 'active': True, 'pos': 'C'}}},
 {'id': 496,
  'firstname': 'Nik',
  'lastname': 'Stauskas',
  'birth': {'date': '1993-10-07', 'country': 'Canada'},
  'nba': {'start': 2014, 'pro': 5},
  'height': {'feets': '6', 'inches': '6', 'meters': '1.98'},
  'weight': {'pounds': '207', 'kilograms': '93.9'},
  'college': 'Michigan',
  'affiliation': 'Michigan/Canada',
  'leagues': {'standard': {'jersey': 13, 'active': True, 'pos': 'G'}}},
 {'id': 486,
  'firstname': 'Marcus',
  'lastname': 'Smart',
  'birth': {'date': '1994-03-06', 'country': 'USA'},
  'nba': {'start': 2014, 'pro': 7},
  'height': {'feets': '6', 'inches': '4', 'meters': '1.93'},
  'weight': {'pounds': '220', 'kilograms': '99.8'},
  'college': 'Oklahoma State',
  'affiliation': 'Oklahoma State/USA',
  'leagues': {'standard': {'jersey': 36, 'active': True, 'pos': 'G'}}},
 {'id': 410,
  'firstname': 'Jabari',
  'lastname': 'Parker',
  'birth': {'date': '1995-03-15', 'country': 'USA'},
  'nba': {'start': 2014, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': 'Duke',
  'affiliation': 'Duke/USA',
  'leagues': {'standard': {'jersey': 20, 'active': False, 'pos': None}}},
 {'id': 275,
  'firstname': 'Joe',
  'lastname': 'Johnson',
  'birth': {'date': '1981-06-29', 'country': 'USA'},
  'nba': {'start': 2001, 'pro': 0},
  'height': {'feets': None, 'inches': None, 'meters': None},
  'weight': {'pounds': None, 'kilograms': None},
  'college': 'Arkansas',
  'affiliation': 'Arkansas/USA',
  'leagues': {'standard': {'jersey': 55, 'active': False, 'pos': None}}},
 {'id': 3252,
  'firstname': 'Arnas',
  'lastname': 'Velicka',
  'birth': {'date': '1999-12-10', 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': '6', 'inches': '4', 'meters': '1.93'},
  'weight': {'pounds': '192', 'kilograms': '87.1'},
  'college': 'Basket Lowen Braunschweig',
  'affiliation': None,
  'leagues': {'vegas': {'jersey': 61, 'active': True, 'pos': 'G'}}},
 {'id': 3100,
  'firstname': 'K.J.',
  'lastname': 'Lawson',
  'birth': {'date': '1996-05-07', 'country': None},
  'nba': {'start': 0, 'pro': 0},
  'height': {'feets': '6', 'inches': '7', 'meters': '2.01'},
  'weight': {'pounds': '215', 'kilograms': '97.5'},
  'college': 'Tulane',
  'affiliation': None,
  'leagues': {'vegas': {'jersey': 50, 'active': True, 'pos': 'F'}}}]

In [6]:
#Converting to dataframe
df = pd.DataFrame(data)
df

,id,firstname,lastname,birth,nba,height,weight,college,affiliation,leagues
0,362,CJ,Miles,"{'date': '1987-03-18', 'country': 'USA'}","{'start': 2005, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",No College,No College/USA,"{'standard': {'jersey': 50, 'active': False, '..."
1,446,Josh,Richardson,"{'date': '1993-09-15', 'country': 'USA'}","{'start': 2015, 'pro': 6}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '200', 'kilograms': '90.7'}",Tennessee,Tennessee/USA,"{'standard': {'jersey': 7, 'active': True, 'po..."
2,75,Jaylen,Brown,"{'date': '1996-10-24', 'country': 'USA'}","{'start': 2016, 'pro': 5}","{'feets': '6', 'inches': '6', 'meters': '1.98'}","{'pounds': '223', 'kilograms': '101.2'}",California,California/USA,"{'standard': {'jersey': 7, 'active': True, 'po..."
3,597,Zach,Auguste,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'standard': {'jersey': 29, 'active': False, '..."
4,230,Juancho,Hernangomez,"{'date': '1995-09-28', 'country': 'Spain'}","{'start': 2016, 'pro': 5}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '214', 'kilograms': '97.1'}",Estudiantes,Estudiantes/Spain,"{'standard': {'jersey': 41, 'active': True, 'p..."
5,609,Ryan,Arcidiacono,"{'date': '1994-03-26', 'country': 'USA'}","{'start': 2017, 'pro': 4}","{'feets': '6', 'inches': '3', 'meters': '1.9'}","{'pounds': '195', 'kilograms': '88.5'}",Villanova,Villanova/USA,"{'standard': {'jersey': 51, 'active': True, 'p..."
6,882,Jayson,Tatum,"{'date': '1998-03-03', 'country': 'USA'}","{'start': 2017, 'pro': 4}","{'feets': '6', 'inches': '8', 'meters': '2.03'}","{'pounds': '210', 'kilograms': '95.3'}",Duke,Duke/USA,"{'standard': {'jersey': None, 'active': True, ..."
7,806,Justin,Jackson,"{'date': '1995-03-28', 'country': 'USA'}","{'start': 2017, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",North Carolina,North Carolina/USA,"{'standard': {'jersey': 44, 'active': True, 'p..."
8,897,Derrick,White,"{'date': '1994-07-02', 'country': 'USA'}","{'start': 2017, 'pro': 4}","{'feets': '6', 'inches': '4', 'meters': '1.93'}","{'pounds': '190', 'kilograms': '86.2'}",Colorado,Colorado/USA,"{'standard': {'jersey': 9, 'active': True, 'po..."
9,819,Luke,Kornet,"{'date': '1995-07-15', 'country': 'USA'}","{'start': 2017, 'pro': 4}","{'feets': '7', 'inches': '2', 'meters': '2.18'}","{'pounds': '250', 'kilograms': '113.4'}",Vanderbilt,Vanderbilt/USA,"{'standard': {'jersey': 40, 'active': True, 'p..."
10,886,Daniel,Theis,"{'date': '1992-04-04', 'country': 'Germany'}","{'start': 2017, 'pro': 4}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '245', 'kilograms': '111.1'}",Brose Bamberg,Brose Bamberg/Germany,"{'standard': {'jersey': 27, 'active': True, 'p..."
11,1858,Bruno,Fernando,"{'date': '1998-08-15', 'country': 'Angola'}","{'start': 2019, 'pro': 2}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '240', 'kilograms': '108.9'}",Maryland,Maryland/Angola,"{'standard': {'jersey': 20, 'active': True, 'p..."
12,1013,Theo,Pinson,"{'date': '1995-11-05', 'country': 'USA'}","{'start': 2018, 'pro': 3}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '212', 'kilograms': '96.2'}",North Carolina,North Carolina/USA,"{'standard': {'jersey': 1, 'active': True, 'po..."
13,1857,Carsen,Edwards,"{'date': '1998-03-12', 'country': 'USA'}","{'start': 2019, 'pro': 2}","{'feets': '5', 'inches': '11', 'meters': '1.8'}","{'pounds': '200', 'kilograms': '90.7'}",Purdue,Purdue/USA,"{'standard': {'jersey': 4, 'active': True, 'po..."
14,1045,Robert,Williams III,"{'date': '1997-10-17', 'country': 'USA'}","{'start': 2018, 'pro': 3}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '237', 'kilograms': '107.5'}",Texas A&M,Texas A&M/USA,"{'standard': {'jersey': 44, 'active': True, 'p..."
15,1514,Kelan,Martin,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'vegas': {'jersey': 30, 'active': True, 'pos'..."
16,1874,Romeo,Langford,"{'date': '1999-10-25', 'country': 'USA'}","{'start': 2019, 'pro': 2}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '216', 'kilograms': '98.0'}",Indiana,Indiana/USA,"{'standard': {'jersey': 35, 'active': True, 'p..."
17,1920,Dedric,Lawson,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'sacramento': {'jersey': 18, 'active': True, ..."
18,1901,Grant,Williams,"{'date': '1998-11-30', 'country': 'USA'}","{'start': 2019, 'pro': 2}","{'feets': '6', 'inches': '6', 'meters': '1.98'}","{'pounds': '236', 'kilograms': '107.0'}",Tennessee,Tennessee/USA,"{'standard': {'jersey': 12, 'active': True, 'p..."
19,1917,Aric,Holman,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'sacramento': {'jersey': 35, 'active': True, ..."
20,2327,Garrison,Mathews,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'vegas': {'jersey': 24, 'active': True, 'pos'..."
21,2438,Juwan,Morgan,"{'date': '1997-04-17', 'country': 'USA'}","{'start': 2019, 'pro': 2}","{'feets': '6', 'inches': '7', 'meters': '2.01'}","{'pounds': '232', 'kilograms': '105.2'}",Indiana,Indiana/USA,"{'standard': {'jersey': 16, 'active': False, '..."
22,2626,Aaron,Nesmith,"{'date': '1999-10-16', 'country': 'USA'}","{'start': 2020, 'pro': 1}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '215', 'kilograms': '97.5'}",Vanderbilt,Vanderbilt/USA,"{'standard': {'jersey': 23, 'active': True, 'p..."
23,2635,Payton,Pritchard,"{'date': '1998-01-28', 'country': 'USA'}","{'start': 2020, 'pro': 1}","{'feets': '6', 'inches': '1', 'meters': '1.85'}","{'pounds': '195', 'kilograms': '88.5'}",Oregon,Oregon/USA,"{'standard': {'jersey': 11, 'active': True, 'p..."
24,2612,Yam,Madar,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'standard': {'jersey': None, 'active': True, ..."
25,2586,Malik,Fitts,"{'date': '1997-07-04', 'country': 'USA'}","{'start': 2020, 'pro': 1}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '230', 'kilograms': '104.3'}",St. Mary's College,St. Mary's College/USA,"{'standard': {'jersey': 8, 'active': True, 'po..."
26,2654,Brodric,Thomas,"{'date': '1997-01-28', 'country': 'USA'}","{'start': 2020, 'pro': 1}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '185', 'kilograms': '83.9'}",Truman State,Truman State/USA,"{'standard': {'jersey': 97, 'active': True, 'p..."
27,3195,Matt,Ryan,"{'date': '1997-04-17', 'country': 'USA'}","{'start': 2021, 'pro': 0}","{'feets': '6', 'inches': '7', 'meters': '2.01'}","{'pounds': '215', 'kilograms': '97.5'}",Tennessee-Chattanooga,Tennessee-Chattanooga/USA,"{'vegas': {'jersey': 37, 'active': True, 'pos'..."
28,2812,Sam,Hauser,"{'date': '1997-12-08', 'country': 'USA'}","{'start': 2021, 'pro': 0}","{'feets': '6', 'inches': '7', 'meters': '2.01'}","{'pounds': '217', 'kilograms': '98.4'}",Virginia,Virginia/USA,"{'standard': {'jersey': 30, 'active': True, 'p..."
29,2791,Juhann,Begarin,"{'date': '2002-08-07', 'country': 'France'}","{'start': 0, 'pro': 0}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '185', 'kilograms': '83.9'}",Paris Basketball,Paris Basketball/France,"{'standard': {'jersey': None, 'active': True, ..."
30,248,Al,Horford,"{'date': '1986-06-03', 'country': 'Dominican R...","{'start': 2007, 'pro': 14}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '240', 'kilograms': '108.9'}",Florida,Florida/Dominican Republic,"{'standard': {'jersey': 42, 'active': True, 'p..."
31,12,Al-Farouq,Aminu,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'standard': {'jersey': 72, 'active': False, '..."
32,291,Enes,Freedom,"{'date': '1992-05-20', 'country': 'Turkey'}","{'start': 2011, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",,Fenerbahce/Turkey,"{'standard': {'jersey': 13, 'active': False, '..."
33,472,Dennis,Schroder,"{'date': '1993-09-15', 'country': 'Germany'}","{'start': 2013, 'pro': 8}","{'feets': '6', 'inches': '1', 'meters': '1.85'}","{'pounds': '172', 'kilograms': '78.0'}",Braunschweig,Braunschweig/Germany,"{'standard': {'jersey': 17, 'active': True, 'p..."
34,1012,Norvel,Pelle,"{'date': '1993-02-03', 'country': 'USA'}","{'start': 2019, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",Iona,Iona/USA,"{'standard': {'jersey': 5, 'active': False, 'p..."
35,496,Nik,Stauskas,"{'date': '1993-10-07', 'country': 'Canada'}","{'start': 2014, 'pro': 5}","{'feets': '6', 'inches': '6', 'meters': '1.98'}","{'pounds': '207', 'kilograms': '93.9'}",Michigan,Michigan/Canada,"{'standard': {'jersey': 13, 'active': True, 'p..."
36,486,Marcus,Smart,"{'date': '1994-03-06', 'country': 'USA'}","{'start': 2014, 'pro': 7}","{'feets': '6', 'inches': '4', 'meters': '1.93'}","{'pounds': '220', 'kilograms': '99.8'}",Oklahoma State,Oklahoma State/USA,"{'standard': {'jersey': 36, 'active': True, 'p..."
37,410,Jabari,Parker,"{'date': '1995-03-15', 'country': 'USA'}","{'start': 2014, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",Duke,Duke/USA,"{'standard': {'jersey': 20, 'active': False, '..."
38,275,Joe,Johnson,"{'date': '1981-06-29', 'country': 'USA'}","{'start': 2001, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",Arkansas,Arkansas/USA,"{'standard': {'jersey': 55, 'active': False, '..."
39,3252,Arnas,Velicka,"{'date': '1999-12-10', 'country': None}","{'start': 0, 'pro': 0}","{'feets': '6', 'inches': '4', 'meters': '1.93'}","{'pounds': '192', 'kilograms': '87.1'}",Basket Lowen Braunschweig,None,"{'vegas': {'jersey': 61, 'active': True, 'pos'..."
40,3100,K.J.,Lawson,"{'date': '1996-05-07', 'country': None}","{'start': 0, 'pro': 0}","{'feets': '6', 'inches': '7', 'meters': '2.01'}","{'pounds': '215', 'kilograms': '97.5'}",Tulane,None,"{'vegas': {'jersey': 50, 'active': True, 'pos'..."

## DATA CLEANING

In [7]:
#Normalizing fields that have dictionaries nested
births = pd.json_normalize(df.birth)
births

nba = pd.json_normalize(df.nba)
nba

height = pd.json_normalize(df.height)
height

weight = pd.json_normalize(df.weight)
weight

leagues = pd.json_normalize(df.leagues)
leagues

,standard.jersey,standard.active,standard.pos,sacramento.jersey,sacramento.active,sacramento.pos,vegas.jersey,vegas.active,vegas.pos,utah.jersey,utah.active,utah.pos,africa.jersey,africa.active,africa.pos
0,50.0,False,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7.0,True,G-F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29.0,False,None,50.0,True,F,41.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
4,41.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,51.0,True,G,NaN,NaN,NaN,51.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,True,F-G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,44.0,True,F,25.0,True,F,52.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,True,G,NaN,NaN,NaN,4.0,True,G,4.0,True,G,NaN,NaN,NaN
9,40.0,True,C-F,NaN,NaN,NaN,2.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
10,27.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,20.0,True,F-C,NaN,NaN,NaN,55.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
12,1.0,True,G-F,NaN,NaN,NaN,6.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
13,4.0,True,G,NaN,NaN,NaN,4.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
14,44.0,True,C-F,NaN,NaN,NaN,44.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
15,4.0,False,None,NaN,NaN,NaN,30.0,True,F,42.0,True,F,NaN,NaN,NaN
16,35.0,True,G-F,NaN,NaN,NaN,9.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
17,17.0,False,None,18.0,True,C-F,30.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
18,12.0,True,F,NaN,NaN,NaN,40.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
19,35.0,True,F-C,35.0,True,F,35.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
20,25.0,True,G,NaN,NaN,NaN,24.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
21,16.0,False,None,NaN,NaN,NaN,16.0,True,F,16.0,True,F,NaN,NaN,NaN
22,23.0,True,G-F,NaN,NaN,NaN,23.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
23,11.0,True,G,NaN,NaN,NaN,11.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,True,G,NaN,NaN,NaN,28.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
25,8.0,True,F,NaN,NaN,NaN,18.0,False,None,NaN,NaN,NaN,NaN,NaN,NaN
26,97.0,True,G,NaN,NaN,NaN,97.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,True,F,NaN,NaN,NaN,37.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
28,30.0,True,F,NaN,NaN,NaN,30.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,True,G,NaN,NaN,NaN,45.0,True,G-F,NaN,NaN,NaN,NaN,NaN,NaN
30,42.0,True,C-F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,72.0,False,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,True,F
32,13.0,False,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,17.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,5.0,False,None,NaN,NaN,NaN,14.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
35,13.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,20.0,False,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,55.0,False,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,61.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,50.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Combining the newly normalized fields into one df
dfs= pd.concat([births, nba, height, weight, leagues], axis=1)
dfs

,date,country,start,pro,feets,inches,meters,pounds,kilograms,standard.jersey,...,sacramento.pos,vegas.jersey,vegas.active,vegas.pos,utah.jersey,utah.active,utah.pos,africa.jersey,africa.active,africa.pos
0,1987-03-18,USA,2005,0,None,None,None,None,None,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-09-15,USA,2015,6,6,5,1.96,200,90.7,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-10-24,USA,2016,5,6,6,1.98,223,101.2,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,None,0,0,None,None,None,None,None,29.0,...,F,41.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
4,1995-09-28,Spain,2016,5,6,9,2.06,214,97.1,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1994-03-26,USA,2017,4,6,3,1.9,195,88.5,51.0,...,NaN,51.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
6,1998-03-03,USA,2017,4,6,8,2.03,210,95.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1995-03-28,USA,2017,0,None,None,None,None,None,44.0,...,F,52.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
8,1994-07-02,USA,2017,4,6,4,1.93,190,86.2,9.0,...,NaN,4.0,True,G,4.0,True,G,NaN,NaN,NaN
9,1995-07-15,USA,2017,4,7,2,2.18,250,113.4,40.0,...,NaN,2.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
10,1992-04-04,Germany,2017,4,6,9,2.06,245,111.1,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1998-08-15,Angola,2019,2,6,9,2.06,240,108.9,20.0,...,NaN,55.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
12,1995-11-05,USA,2018,3,6,5,1.96,212,96.2,1.0,...,NaN,6.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
13,1998-03-12,USA,2019,2,5,11,1.8,200,90.7,4.0,...,NaN,4.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
14,1997-10-17,USA,2018,3,6,9,2.06,237,107.5,44.0,...,NaN,44.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
15,None,None,0,0,None,None,None,None,None,4.0,...,NaN,30.0,True,F,42.0,True,F,NaN,NaN,NaN
16,1999-10-25,USA,2019,2,6,5,1.96,216,98.0,35.0,...,NaN,9.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
17,None,None,0,0,None,None,None,None,None,17.0,...,C-F,30.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
18,1998-11-30,USA,2019,2,6,6,1.98,236,107.0,12.0,...,NaN,40.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
19,None,None,0,0,None,None,None,None,None,35.0,...,F,35.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
20,None,None,0,0,None,None,None,None,None,25.0,...,NaN,24.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
21,1997-04-17,USA,2019,2,6,7,2.01,232,105.2,16.0,...,NaN,16.0,True,F,16.0,True,F,NaN,NaN,NaN
22,1999-10-16,USA,2020,1,6,5,1.96,215,97.5,23.0,...,NaN,23.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
23,1998-01-28,USA,2020,1,6,1,1.85,195,88.5,11.0,...,NaN,11.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
24,None,None,0,0,None,None,None,None,None,NaN,...,NaN,28.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
25,1997-07-04,USA,2020,1,6,5,1.96,230,104.3,8.0,...,NaN,18.0,False,None,NaN,NaN,NaN,NaN,NaN,NaN
26,1997-01-28,USA,2020,1,6,5,1.96,185,83.9,97.0,...,NaN,97.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
27,1997-04-17,USA,2021,0,6,7,2.01,215,97.5,NaN,...,NaN,37.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
28,1997-12-08,USA,2021,0,6,7,2.01,217,98.4,30.0,...,NaN,30.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
29,2002-08-07,France,0,0,6,5,1.96,185,83.9,NaN,...,NaN,45.0,True,G-F,NaN,NaN,NaN,NaN,NaN,NaN
30,1986-06-03,Dominican Republic,2007,14,6,9,2.06,240,108.9,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,None,None,0,0,None,None,None,None,None,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,True,F
32,1992-05-20,Turkey,2011,0,None,None,None,None,None,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1993-09-15,Germany,2013,8,6,1,1.85,172,78.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1993-02-03,USA,2019,0,None,None,None,None,None,5.0,...,NaN,14.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
35,1993-10-07,Canada,2014,5,6,6,1.98,207,93.9,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1994-03-06,USA,2014,7,6,4,1.93,220,99.8,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1995-03-15,USA,2014,0,None,None,None,None,None,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1981-06-29,USA,2001,0,None,None,None,None,None,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1999-12-10,None,0,0,6,4,1.93,192,87.1,NaN,...,NaN,61.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
40,1996-05-07,None,0,0,6,7,2.01,215,97.5,NaN,...,NaN,50.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Merging original dataframe with normalized dataframe
df_normalized = df.merge(dfs, how='inner', right_index=True, left_index=True)
df_normalized

,id,firstname,lastname,birth,nba,height,weight,college,affiliation,leagues,...,sacramento.pos,vegas.jersey,vegas.active,vegas.pos,utah.jersey,utah.active,utah.pos,africa.jersey,africa.active,africa.pos
0,362,CJ,Miles,"{'date': '1987-03-18', 'country': 'USA'}","{'start': 2005, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",No College,No College/USA,"{'standard': {'jersey': 50, 'active': False, '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,446,Josh,Richardson,"{'date': '1993-09-15', 'country': 'USA'}","{'start': 2015, 'pro': 6}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '200', 'kilograms': '90.7'}",Tennessee,Tennessee/USA,"{'standard': {'jersey': 7, 'active': True, 'po...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,75,Jaylen,Brown,"{'date': '1996-10-24', 'country': 'USA'}","{'start': 2016, 'pro': 5}","{'feets': '6', 'inches': '6', 'meters': '1.98'}","{'pounds': '223', 'kilograms': '101.2'}",California,California/USA,"{'standard': {'jersey': 7, 'active': True, 'po...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,597,Zach,Auguste,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'standard': {'jersey': 29, 'active': False, '...",...,F,41.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
4,230,Juancho,Hernangomez,"{'date': '1995-09-28', 'country': 'Spain'}","{'start': 2016, 'pro': 5}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '214', 'kilograms': '97.1'}",Estudiantes,Estudiantes/Spain,"{'standard': {'jersey': 41, 'active': True, 'p...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,609,Ryan,Arcidiacono,"{'date': '1994-03-26', 'country': 'USA'}","{'start': 2017, 'pro': 4}","{'feets': '6', 'inches': '3', 'meters': '1.9'}","{'pounds': '195', 'kilograms': '88.5'}",Villanova,Villanova/USA,"{'standard': {'jersey': 51, 'active': True, 'p...",...,NaN,51.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
6,882,Jayson,Tatum,"{'date': '1998-03-03', 'country': 'USA'}","{'start': 2017, 'pro': 4}","{'feets': '6', 'inches': '8', 'meters': '2.03'}","{'pounds': '210', 'kilograms': '95.3'}",Duke,Duke/USA,"{'standard': {'jersey': None, 'active': True, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,806,Justin,Jackson,"{'date': '1995-03-28', 'country': 'USA'}","{'start': 2017, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",North Carolina,North Carolina/USA,"{'standard': {'jersey': 44, 'active': True, 'p...",...,F,52.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
8,897,Derrick,White,"{'date': '1994-07-02', 'country': 'USA'}","{'start': 2017, 'pro': 4}","{'feets': '6', 'inches': '4', 'meters': '1.93'}","{'pounds': '190', 'kilograms': '86.2'}",Colorado,Colorado/USA,"{'standard': {'jersey': 9, 'active': True, 'po...",...,NaN,4.0,True,G,4.0,True,G,NaN,NaN,NaN
9,819,Luke,Kornet,"{'date': '1995-07-15', 'country': 'USA'}","{'start': 2017, 'pro': 4}","{'feets': '7', 'inches': '2', 'meters': '2.18'}","{'pounds': '250', 'kilograms': '113.4'}",Vanderbilt,Vanderbilt/USA,"{'standard': {'jersey': 40, 'active': True, 'p...",...,NaN,2.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
10,886,Daniel,Theis,"{'date': '1992-04-04', 'country': 'Germany'}","{'start': 2017, 'pro': 4}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '245', 'kilograms': '111.1'}",Brose Bamberg,Brose Bamberg/Germany,"{'standard': {'jersey': 27, 'active': True, 'p...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1858,Bruno,Fernando,"{'date': '1998-08-15', 'country': 'Angola'}","{'start': 2019, 'pro': 2}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '240', 'kilograms': '108.9'}",Maryland,Maryland/Angola,"{'standard': {'jersey': 20, 'active': True, 'p...",...,NaN,55.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
12,1013,Theo,Pinson,"{'date': '1995-11-05', 'country': 'USA'}","{'start': 2018, 'pro': 3}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '212', 'kilograms': '96.2'}",North Carolina,North Carolina/USA,"{'standard': {'jersey': 1, 'active': True, 'po...",...,NaN,6.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
13,1857,Carsen,Edwards,"{'date': '1998-03-12', 'country': 'USA'}","{'start': 2019, 'pro': 2}","{'feets': '5', 'inches': '11', 'meters': '1.8'}","{'pounds': '200', 'kilograms': '90.7'}",Purdue,Purdue/USA,"{'standard': {'jersey': 4, 'active': True, 'po...",...,NaN,4.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
14,1045,Robert,Williams III,"{'date': '1997-10-17', 'country': 'USA'}","{'start': 2018, 'pro': 3}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '237', 'kilograms': '107.5'}",Texas A&M,Texas A&M/USA,"{'standard': {'jersey': 44, 'active': True, 'p...",...,NaN,44.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
15,1514,Kelan,Martin,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'vegas': {'jersey': 30, 'active': True, 'pos'...",...,NaN,30.0,True,F,42.0,True,F,NaN,NaN,NaN
16,1874,Romeo,Langford,"{'date': '1999-10-25', 'country': 'USA'}","{'start': 2019, 'pro': 2}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '216', 'kilograms': '98.0'}",Indiana,Indiana/USA,"{'standard': {'jersey': 35, 'active': True, 'p...",...,NaN,9.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
17,1920,Dedric,Lawson,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'sacramento': {'jersey': 18, 'active': True, ...",...,C-F,30.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
18,1901,Grant,Williams,"{'date': '1998-11-30', 'country': 'USA'}","{'start': 2019, 'pro': 2}","{'feets': '6', 'inches': '6', 'meters': '1.98'}","{'pounds': '236', 'kilograms': '107.0'}",Tennessee,Tennessee/USA,"{'standard': {'jersey': 12, 'active': True, 'p...",...,NaN,40.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
19,1917,Aric,Holman,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'sacramento': {'jersey': 35, 'active': True, ...",...,F,35.0,True,F-C,NaN,NaN,NaN,NaN,NaN,NaN
20,2327,Garrison,Mathews,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'vegas': {'jersey': 24, 'active': True, 'pos'...",...,NaN,24.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
21,2438,Juwan,Morgan,"{'date': '1997-04-17', 'country': 'USA'}","{'start': 2019, 'pro': 2}","{'feets': '6', 'inches': '7', 'meters': '2.01'}","{'pounds': '232', 'kilograms': '105.2'}",Indiana,Indiana/USA,"{'standard': {'jersey': 16, 'active': False, '...",...,NaN,16.0,True,F,16.0,True,F,NaN,NaN,NaN
22,2626,Aaron,Nesmith,"{'date': '1999-10-16', 'country': 'USA'}","{'start': 2020, 'pro': 1}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '215', 'kilograms': '97.5'}",Vanderbilt,Vanderbilt/USA,"{'standard': {'jersey': 23, 'active': True, 'p...",...,NaN,23.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
23,2635,Payton,Pritchard,"{'date': '1998-01-28', 'country': 'USA'}","{'start': 2020, 'pro': 1}","{'feets': '6', 'inches': '1', 'meters': '1.85'}","{'pounds': '195', 'kilograms': '88.5'}",Oregon,Oregon/USA,"{'standard': {'jersey': 11, 'active': True, 'p...",...,NaN,11.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
24,2612,Yam,Madar,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'standard': {'jersey': None, 'active': True, ...",...,NaN,28.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
25,2586,Malik,Fitts,"{'date': '1997-07-04', 'country': 'USA'}","{'start': 2020, 'pro': 1}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '230', 'kilograms': '104.3'}",St. Mary's College,St. Mary's College/USA,"{'standard': {'jersey': 8, 'active': True, 'po...",...,NaN,18.0,False,None,NaN,NaN,NaN,NaN,NaN,NaN
26,2654,Brodric,Thomas,"{'date': '1997-01-28', 'country': 'USA'}","{'start': 2020, 'pro': 1}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '185', 'kilograms': '83.9'}",Truman State,Truman State/USA,"{'standard': {'jersey': 97, 'active': True, 'p...",...,NaN,97.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
27,3195,Matt,Ryan,"{'date': '1997-04-17', 'country': 'USA'}","{'start': 2021, 'pro': 0}","{'feets': '6', 'inches': '7', 'meters': '2.01'}","{'pounds': '215', 'kilograms': '97.5'}",Tennessee-Chattanooga,Tennessee-Chattanooga/USA,"{'vegas': {'jersey': 37, 'active': True, 'pos'...",...,NaN,37.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
28,2812,Sam,Hauser,"{'date': '1997-12-08', 'country': 'USA'}","{'start': 2021, 'pro': 0}","{'feets': '6', 'inches': '7', 'meters': '2.01'}","{'pounds': '217', 'kilograms': '98.4'}",Virginia,Virginia/USA,"{'standard': {'jersey': 30, 'active': True, 'p...",...,NaN,30.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN
29,2791,Juhann,Begarin,"{'date': '2002-08-07', 'country': 'France'}","{'start': 0, 'pro': 0}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '185', 'kilograms': '83.9'}",Paris Basketball,Paris Basketball/France,"{'standard': {'jersey': None, 'active': True, ...",...,NaN,45.0,True,G-F,NaN,NaN,NaN,NaN,NaN,NaN
30,248,Al,Horford,"{'date': '1986-06-03', 'country': 'Dominican R...","{'start': 2007, 'pro': 14}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '240', 'kilograms': '108.9'}",Florida,Florida/Dominican Republic,"{'standard': {'jersey': 42, 'active': True, 'p...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,12,Al-Farouq,Aminu,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",None,None,"{'standard': {'jersey': 72, 'active': False, '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,True,F
32,291,Enes,Freedom,"{'date': '1992-05-20', 'country': 'Turkey'}","{'start': 2011, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",,Fenerbahce/Turkey,"{'standard': {'jersey': 13, 'active': False, '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,472,Dennis,Schroder,"{'date': '1993-09-15', 'country': 'Germany'}","{'start': 2013, 'pro': 8}","{'feets': '6', 'inches': '1', 'meters': '1.85'}","{'pounds': '172', 'kilograms': '78.0'}",Braunschweig,Braunschweig/Germany,"{'standard': {'jersey': 17, 'active': True, 'p...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1012,Norvel,Pelle,"{'date': '1993-02-03', 'country': 'USA'}","{'start': 2019, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",Iona,Iona/USA,"{'standard': {'jersey': 5, 'active': False, 'p...",...,NaN,14.0,True,C,NaN,NaN,NaN,NaN,NaN,NaN
35,496,Nik,Stauskas,"{'date': '1993-10-07', 'country': 'Canada'}","{'start': 2014, 'pro': 5}","{'feets': '6', 'inches': '6', 'meters': '1.98'}","{'pounds': '207', 'kilograms': '93.9'}",Michigan,Michigan/Canada,"{'standard': {'jersey': 13, 'active': True, 'p...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,486,Marcus,Smart,"{'date': '1994-03-06', 'country': 'USA'}","{'start': 2014, 'pro': 7}","{'feets': '6', 'inches': '4', 'meters': '1.93'}","{'pounds': '220', 'kilograms': '99.8'}",Oklahoma State,Oklahoma State/USA,"{'standard': {'jersey': 36, 'active': True, 'p...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,410,Jabari,Parker,"{'date': '1995-03-15', 'country': 'USA'}","{'start': 2014, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",Duke,Duke/USA,"{'standard': {'jersey': 20, 'active': False, '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,275,Joe,Johnson,"{'date': '1981-06-29', 'country': 'USA'}","{'start': 2001, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",Arkansas,Arkansas/USA,"{'standard': {'jersey': 55, 'active': False, '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,3252,Arnas,Velicka,"{'date': '1999-12-10', 'country': None}","{'start': 0, 'pro': 0}","{'feets': '6', 'inches': '4', 'meters': '1.93'}","{'pounds': '192', 'kilograms': '87.1'}",Basket Lowen Braunschweig,None,"{'vegas': {'jersey': 61, 'active': True, 'pos'...",...,NaN,61.0,True,G,NaN,NaN,NaN,NaN,NaN,NaN
40,3100,K.J.,Lawson,"{'date': '1996-05-07', 'country': None}","{'start': 0, 'pro': 0}","{'feets': '6', 'inches': '7', 'meters': '2.01'}","{'pounds': '215', 'kilograms': '97.5'}",Tulane,None,"{'vegas': {'jersey': 50, 'active': True, 'pos'...",...,NaN,50.0,True,F,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Removing unnecessary columns
df_normalized = df_normalized.drop([
    'nba','height', 'weight', 'leagues', 'birth',
    'vegas.jersey','vegas.active', 'vegas.pos', 
    'utah.jersey', 'utah.active', 'utah.pos', 
    'africa.jersey', 'africa.active', 'africa.pos',
    'standard.jersey','standard.active', 'standard.pos', 
    'sacramento.jersey', 'sacramento.active', 'sacramento.pos'
    ], axis=1)
df_normalized

,id,firstname,lastname,college,affiliation,date,country,start,pro,feets,inches,meters,pounds,kilograms
0,362,CJ,Miles,No College,No College/USA,1987-03-18,USA,2005,0,None,None,None,None,None
1,446,Josh,Richardson,Tennessee,Tennessee/USA,1993-09-15,USA,2015,6,6,5,1.96,200,90.7
2,75,Jaylen,Brown,California,California/USA,1996-10-24,USA,2016,5,6,6,1.98,223,101.2
3,597,Zach,Auguste,None,None,None,None,0,0,None,None,None,None,None
4,230,Juancho,Hernangomez,Estudiantes,Estudiantes/Spain,1995-09-28,Spain,2016,5,6,9,2.06,214,97.1
5,609,Ryan,Arcidiacono,Villanova,Villanova/USA,1994-03-26,USA,2017,4,6,3,1.9,195,88.5
6,882,Jayson,Tatum,Duke,Duke/USA,1998-03-03,USA,2017,4,6,8,2.03,210,95.3
7,806,Justin,Jackson,North Carolina,North Carolina/USA,1995-03-28,USA,2017,0,None,None,None,None,None
8,897,Derrick,White,Colorado,Colorado/USA,1994-07-02,USA,2017,4,6,4,1.93,190,86.2
9,819,Luke,Kornet,Vanderbilt,Vanderbilt/USA,1995-07-15,USA,2017,4,7,2,2.18,250,113.4
10,886,Daniel,Theis,Brose Bamberg,Brose Bamberg/Germany,1992-04-04,Germany,2017,4,6,9,2.06,245,111.1
11,1858,Bruno,Fernando,Maryland,Maryland/Angola,1998-08-15,Angola,2019,2,6,9,2.06,240,108.9
12,1013,Theo,Pinson,North Carolina,North Carolina/USA,1995-11-05,USA,2018,3,6,5,1.96,212,96.2
13,1857,Carsen,Edwards,Purdue,Purdue/USA,1998-03-12,USA,2019,2,5,11,1.8,200,90.7
14,1045,Robert,Williams III,Texas A&M,Texas A&M/USA,1997-10-17,USA,2018,3,6,9,2.06,237,107.5
15,1514,Kelan,Martin,None,None,None,None,0,0,None,None,None,None,None
16,1874,Romeo,Langford,Indiana,Indiana/USA,1999-10-25,USA,2019,2,6,5,1.96,216,98.0
17,1920,Dedric,Lawson,None,None,None,None,0,0,None,None,None,None,None
18,1901,Grant,Williams,Tennessee,Tennessee/USA,1998-11-30,USA,2019,2,6,6,1.98,236,107.0
19,1917,Aric,Holman,None,None,None,None,0,0,None,None,None,None,None
20,2327,Garrison,Mathews,None,None,None,None,0,0,None,None,None,None,None
21,2438,Juwan,Morgan,Indiana,Indiana/USA,1997-04-17,USA,2019,2,6,7,2.01,232,105.2
22,2626,Aaron,Nesmith,Vanderbilt,Vanderbilt/USA,1999-10-16,USA,2020,1,6,5,1.96,215,97.5
23,2635,Payton,Pritchard,Oregon,Oregon/USA,1998-01-28,USA,2020,1,6,1,1.85,195,88.5
24,2612,Yam,Madar,None,None,None,None,0,0,None,None,None,None,None
25,2586,Malik,Fitts,St. Mary's College,St. Mary's College/USA,1997-07-04,USA,2020,1,6,5,1.96,230,104.3
26,2654,Brodric,Thomas,Truman State,Truman State/USA,1997-01-28,USA,2020,1,6,5,1.96,185,83.9
27,3195,Matt,Ryan,Tennessee-Chattanooga,Tennessee-Chattanooga/USA,1997-04-17,USA,2021,0,6,7,2.01,215,97.5
28,2812,Sam,Hauser,Virginia,Virginia/USA,1997-12-08,USA,2021,0,6,7,2.01,217,98.4
29,2791,Juhann,Begarin,Paris Basketball,Paris Basketball/France,2002-08-07,France,0,0,6,5,1.96,185,83.9
30,248,Al,Horford,Florida,Florida/Dominican Republic,1986-06-03,Dominican Republic,2007,14,6,9,2.06,240,108.9
31,12,Al-Farouq,Aminu,None,None,None,None,0,0,None,None,None,None,None
32,291,Enes,Freedom,,Fenerbahce/Turkey,1992-05-20,Turkey,2011,0,None,None,None,None,None
33,472,Dennis,Schroder,Braunschweig,Braunschweig/Germany,1993-09-15,Germany,2013,8,6,1,1.85,172,78.0
34,1012,Norvel,Pelle,Iona,Iona/USA,1993-02-03,USA,2019,0,None,None,None,None,None
35,496,Nik,Stauskas,Michigan,Michigan/Canada,1993-10-07,Canada,2014,5,6,6,1.98,207,93.9
36,486,Marcus,Smart,Oklahoma State,Oklahoma State/USA,1994-03-06,USA,2014,7,6,4,1.93,220,99.8
37,410,Jabari,Parker,Duke,Duke/USA,1995-03-15,USA,2014,0,None,None,None,None,None
38,275,Joe,Johnson,Arkansas,Arkansas/USA,1981-06-29,USA,2001,0,None,None,None,None,None
39,3252,Arnas,Velicka,Basket Lowen Braunschweig,None,1999-12-10,None,0,0,6,4,1.93,192,87.1
40,3100,K.J.,Lawson,Tulane,None,1996-05-07,None,0,0,6,7,2.01,215,97.5

In [12]:
#Column Renaming
df_normalized = df_normalized.rename(columns=
    {
    'date':'birthdate', 
    'country': 'birthcountry',
    'start':'nba_startdate',
    'pro': 'years_pro',
    'feets': 'height_ft',
    'inches':'height_inch',
    'meters': 'height_meters',
    'pounds':'weight_lbs',
    'kilograms': 'weight_kg'
})
df_normalized

,id,firstname,lastname,college,affiliation,birthdate,birthcountry,nba_startdate,years_pro,height_ft,height_inch,height_meters,weight_lbs,weight_kg
0,362,CJ,Miles,No College,No College/USA,1987-03-18,USA,2005,0,None,None,None,None,None
1,446,Josh,Richardson,Tennessee,Tennessee/USA,1993-09-15,USA,2015,6,6,5,1.96,200,90.7
2,75,Jaylen,Brown,California,California/USA,1996-10-24,USA,2016,5,6,6,1.98,223,101.2
3,597,Zach,Auguste,None,None,None,None,0,0,None,None,None,None,None
4,230,Juancho,Hernangomez,Estudiantes,Estudiantes/Spain,1995-09-28,Spain,2016,5,6,9,2.06,214,97.1
5,609,Ryan,Arcidiacono,Villanova,Villanova/USA,1994-03-26,USA,2017,4,6,3,1.9,195,88.5
6,882,Jayson,Tatum,Duke,Duke/USA,1998-03-03,USA,2017,4,6,8,2.03,210,95.3
7,806,Justin,Jackson,North Carolina,North Carolina/USA,1995-03-28,USA,2017,0,None,None,None,None,None
8,897,Derrick,White,Colorado,Colorado/USA,1994-07-02,USA,2017,4,6,4,1.93,190,86.2
9,819,Luke,Kornet,Vanderbilt,Vanderbilt/USA,1995-07-15,USA,2017,4,7,2,2.18,250,113.4
10,886,Daniel,Theis,Brose Bamberg,Brose Bamberg/Germany,1992-04-04,Germany,2017,4,6,9,2.06,245,111.1
11,1858,Bruno,Fernando,Maryland,Maryland/Angola,1998-08-15,Angola,2019,2,6,9,2.06,240,108.9
12,1013,Theo,Pinson,North Carolina,North Carolina/USA,1995-11-05,USA,2018,3,6,5,1.96,212,96.2
13,1857,Carsen,Edwards,Purdue,Purdue/USA,1998-03-12,USA,2019,2,5,11,1.8,200,90.7
14,1045,Robert,Williams III,Texas A&M,Texas A&M/USA,1997-10-17,USA,2018,3,6,9,2.06,237,107.5
15,1514,Kelan,Martin,None,None,None,None,0,0,None,None,None,None,None
16,1874,Romeo,Langford,Indiana,Indiana/USA,1999-10-25,USA,2019,2,6,5,1.96,216,98.0
17,1920,Dedric,Lawson,None,None,None,None,0,0,None,None,None,None,None
18,1901,Grant,Williams,Tennessee,Tennessee/USA,1998-11-30,USA,2019,2,6,6,1.98,236,107.0
19,1917,Aric,Holman,None,None,None,None,0,0,None,None,None,None,None
20,2327,Garrison,Mathews,None,None,None,None,0,0,None,None,None,None,None
21,2438,Juwan,Morgan,Indiana,Indiana/USA,1997-04-17,USA,2019,2,6,7,2.01,232,105.2
22,2626,Aaron,Nesmith,Vanderbilt,Vanderbilt/USA,1999-10-16,USA,2020,1,6,5,1.96,215,97.5
23,2635,Payton,Pritchard,Oregon,Oregon/USA,1998-01-28,USA,2020,1,6,1,1.85,195,88.5
24,2612,Yam,Madar,None,None,None,None,0,0,None,None,None,None,None
25,2586,Malik,Fitts,St. Mary's College,St. Mary's College/USA,1997-07-04,USA,2020,1,6,5,1.96,230,104.3
26,2654,Brodric,Thomas,Truman State,Truman State/USA,1997-01-28,USA,2020,1,6,5,1.96,185,83.9
27,3195,Matt,Ryan,Tennessee-Chattanooga,Tennessee-Chattanooga/USA,1997-04-17,USA,2021,0,6,7,2.01,215,97.5
28,2812,Sam,Hauser,Virginia,Virginia/USA,1997-12-08,USA,2021,0,6,7,2.01,217,98.4
29,2791,Juhann,Begarin,Paris Basketball,Paris Basketball/France,2002-08-07,France,0,0,6,5,1.96,185,83.9
30,248,Al,Horford,Florida,Florida/Dominican Republic,1986-06-03,Dominican Republic,2007,14,6,9,2.06,240,108.9
31,12,Al-Farouq,Aminu,None,None,None,None,0,0,None,None,None,None,None
32,291,Enes,Freedom,,Fenerbahce/Turkey,1992-05-20,Turkey,2011,0,None,None,None,None,None
33,472,Dennis,Schroder,Braunschweig,Braunschweig/Germany,1993-09-15,Germany,2013,8,6,1,1.85,172,78.0
34,1012,Norvel,Pelle,Iona,Iona/USA,1993-02-03,USA,2019,0,None,None,None,None,None
35,496,Nik,Stauskas,Michigan,Michigan/Canada,1993-10-07,Canada,2014,5,6,6,1.98,207,93.9
36,486,Marcus,Smart,Oklahoma State,Oklahoma State/USA,1994-03-06,USA,2014,7,6,4,1.93,220,99.8
37,410,Jabari,Parker,Duke,Duke/USA,1995-03-15,USA,2014,0,None,None,None,None,None
38,275,Joe,Johnson,Arkansas,Arkansas/USA,1981-06-29,USA,2001,0,None,None,None,None,None
39,3252,Arnas,Velicka,Basket Lowen Braunschweig,None,1999-12-10,None,0,0,6,4,1.93,192,87.1
40,3100,K.J.,Lawson,Tulane,None,1996-05-07,None,0,0,6,7,2.01,215,97.5

In [ ]:
#Changing data types
df_normalized['birthdate'] = pd.to_datetime(df_normalized['birthdate'])

df_normalized = df_normalized.fillna(value=np.nan)

df_normalized.replace(to_replace=['None'], value=np.nan, inplace=True)
df_normalized

In [13]:
df_normalized['height_ft'] = df_normalized['height_ft'].astype(float).astype("Int32")
df_normalized['height_inch'] = df_normalized['height_inch'].astype(float).astype("Int32")
df_normalized['height_meters'] = df_normalized['height_meters'].astype(float)
df_normalized['weight_lbs'] = df_normalized['weight_lbs'].astype(float).astype("Int32")
df_normalized['weight_kg'] = df_normalized['weight_kg'].astype(float)

df_normalized.dtypes

id                 int64
firstname         object
lastname          object
college           object
affiliation       object
birthdate         object
birthcountry      object
nba_startdate      int64
years_pro          int64
height_ft          Int32
height_inch        Int32
height_meters    float64
weight_lbs         Int32
weight_kg        float64
dtype: object

In [14]:
#Converting the height to be in one field instead of 2
df_normalized['converted_height'] = ((df_normalized['height_ft'])*12) + ((df_normalized['height_inch'])/12)
df_normalized

,id,firstname,lastname,college,affiliation,birthdate,birthcountry,nba_startdate,years_pro,height_ft,height_inch,height_meters,weight_lbs,weight_kg,converted_height
0,362,CJ,Miles,No College,No College/USA,1987-03-18,USA,2005,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
1,446,Josh,Richardson,Tennessee,Tennessee/USA,1993-09-15,USA,2015,6,6,5,1.96,200,90.7,72.416667
2,75,Jaylen,Brown,California,California/USA,1996-10-24,USA,2016,5,6,6,1.98,223,101.2,72.5
3,597,Zach,Auguste,None,None,None,None,0,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
4,230,Juancho,Hernangomez,Estudiantes,Estudiantes/Spain,1995-09-28,Spain,2016,5,6,9,2.06,214,97.1,72.75
5,609,Ryan,Arcidiacono,Villanova,Villanova/USA,1994-03-26,USA,2017,4,6,3,1.90,195,88.5,72.25
6,882,Jayson,Tatum,Duke,Duke/USA,1998-03-03,USA,2017,4,6,8,2.03,210,95.3,72.666667
7,806,Justin,Jackson,North Carolina,North Carolina/USA,1995-03-28,USA,2017,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
8,897,Derrick,White,Colorado,Colorado/USA,1994-07-02,USA,2017,4,6,4,1.93,190,86.2,72.333333
9,819,Luke,Kornet,Vanderbilt,Vanderbilt/USA,1995-07-15,USA,2017,4,7,2,2.18,250,113.4,84.166667
10,886,Daniel,Theis,Brose Bamberg,Brose Bamberg/Germany,1992-04-04,Germany,2017,4,6,9,2.06,245,111.1,72.75
11,1858,Bruno,Fernando,Maryland,Maryland/Angola,1998-08-15,Angola,2019,2,6,9,2.06,240,108.9,72.75
12,1013,Theo,Pinson,North Carolina,North Carolina/USA,1995-11-05,USA,2018,3,6,5,1.96,212,96.2,72.416667
13,1857,Carsen,Edwards,Purdue,Purdue/USA,1998-03-12,USA,2019,2,5,11,1.80,200,90.7,60.916667
14,1045,Robert,Williams III,Texas A&M,Texas A&M/USA,1997-10-17,USA,2018,3,6,9,2.06,237,107.5,72.75
15,1514,Kelan,Martin,None,None,None,None,0,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
16,1874,Romeo,Langford,Indiana,Indiana/USA,1999-10-25,USA,2019,2,6,5,1.96,216,98.0,72.416667
17,1920,Dedric,Lawson,None,None,None,None,0,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
18,1901,Grant,Williams,Tennessee,Tennessee/USA,1998-11-30,USA,2019,2,6,6,1.98,236,107.0,72.5
19,1917,Aric,Holman,None,None,None,None,0,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
20,2327,Garrison,Mathews,None,None,None,None,0,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
21,2438,Juwan,Morgan,Indiana,Indiana/USA,1997-04-17,USA,2019,2,6,7,2.01,232,105.2,72.583333
22,2626,Aaron,Nesmith,Vanderbilt,Vanderbilt/USA,1999-10-16,USA,2020,1,6,5,1.96,215,97.5,72.416667
23,2635,Payton,Pritchard,Oregon,Oregon/USA,1998-01-28,USA,2020,1,6,1,1.85,195,88.5,72.083333
24,2612,Yam,Madar,None,None,None,None,0,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
25,2586,Malik,Fitts,St. Mary's College,St. Mary's College/USA,1997-07-04,USA,2020,1,6,5,1.96,230,104.3,72.416667
26,2654,Brodric,Thomas,Truman State,Truman State/USA,1997-01-28,USA,2020,1,6,5,1.96,185,83.9,72.416667
27,3195,Matt,Ryan,Tennessee-Chattanooga,Tennessee-Chattanooga/USA,1997-04-17,USA,2021,0,6,7,2.01,215,97.5,72.583333
28,2812,Sam,Hauser,Virginia,Virginia/USA,1997-12-08,USA,2021,0,6,7,2.01,217,98.4,72.583333
29,2791,Juhann,Begarin,Paris Basketball,Paris Basketball/France,2002-08-07,France,0,0,6,5,1.96,185,83.9,72.416667
30,248,Al,Horford,Florida,Florida/Dominican Republic,1986-06-03,Dominican Republic,2007,14,6,9,2.06,240,108.9,72.75
31,12,Al-Farouq,Aminu,None,None,None,None,0,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
32,291,Enes,Freedom,,Fenerbahce/Turkey,1992-05-20,Turkey,2011,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
33,472,Dennis,Schroder,Braunschweig,Braunschweig/Germany,1993-09-15,Germany,2013,8,6,1,1.85,172,78.0,72.083333
34,1012,Norvel,Pelle,Iona,Iona/USA,1993-02-03,USA,2019,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
35,496,Nik,Stauskas,Michigan,Michigan/Canada,1993-10-07,Canada,2014,5,6,6,1.98,207,93.9,72.5
36,486,Marcus,Smart,Oklahoma State,Oklahoma State/USA,1994-03-06,USA,2014,7,6,4,1.93,220,99.8,72.333333
37,410,Jabari,Parker,Duke,Duke/USA,1995-03-15,USA,2014,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
38,275,Joe,Johnson,Arkansas,Arkansas/USA,1981-06-29,USA,2001,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
39,3252,Arnas,Velicka,Basket Lowen Braunschweig,None,1999-12-10,None,0,0,6,4,1.93,192,87.1,72.333333
40,3100,K.J.,Lawson,Tulane,None,1996-05-07,None,0,0,6,7,2.01,215,97.5,72.583333

## 2) FIND AND PRINT TWO DESCRIPTIVE STATISTICS ABOUT YOUR DATA.

In [15]:
df_normalized['converted_height'].mean()

72.48809523809524

In [16]:
df_normalized['birthcountry'].value_counts()

USA                   24
Germany                2
Spain                  1
Angola                 1
France                 1
Dominican Republic     1
Turkey                 1
Canada                 1
Name: birthcountry, dtype: int64

## 3) WRITE A QUERY IN PANDAS TO SELECT A PARTICULAR SET OF YOUR DATA.

In [17]:
df_normalized[df_normalized['birthcountry'] == 'USA']

,id,firstname,lastname,college,affiliation,birthdate,birthcountry,nba_startdate,years_pro,height_ft,height_inch,height_meters,weight_lbs,weight_kg,converted_height
0,362,CJ,Miles,No College,No College/USA,1987-03-18,USA,2005,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
1,446,Josh,Richardson,Tennessee,Tennessee/USA,1993-09-15,USA,2015,6,6,5,1.96,200,90.7,72.416667
2,75,Jaylen,Brown,California,California/USA,1996-10-24,USA,2016,5,6,6,1.98,223,101.2,72.5
5,609,Ryan,Arcidiacono,Villanova,Villanova/USA,1994-03-26,USA,2017,4,6,3,1.90,195,88.5,72.25
6,882,Jayson,Tatum,Duke,Duke/USA,1998-03-03,USA,2017,4,6,8,2.03,210,95.3,72.666667
7,806,Justin,Jackson,North Carolina,North Carolina/USA,1995-03-28,USA,2017,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
8,897,Derrick,White,Colorado,Colorado/USA,1994-07-02,USA,2017,4,6,4,1.93,190,86.2,72.333333
9,819,Luke,Kornet,Vanderbilt,Vanderbilt/USA,1995-07-15,USA,2017,4,7,2,2.18,250,113.4,84.166667
12,1013,Theo,Pinson,North Carolina,North Carolina/USA,1995-11-05,USA,2018,3,6,5,1.96,212,96.2,72.416667
13,1857,Carsen,Edwards,Purdue,Purdue/USA,1998-03-12,USA,2019,2,5,11,1.80,200,90.7,60.916667
14,1045,Robert,Williams III,Texas A&M,Texas A&M/USA,1997-10-17,USA,2018,3,6,9,2.06,237,107.5,72.75
16,1874,Romeo,Langford,Indiana,Indiana/USA,1999-10-25,USA,2019,2,6,5,1.96,216,98.0,72.416667
18,1901,Grant,Williams,Tennessee,Tennessee/USA,1998-11-30,USA,2019,2,6,6,1.98,236,107.0,72.5
21,2438,Juwan,Morgan,Indiana,Indiana/USA,1997-04-17,USA,2019,2,6,7,2.01,232,105.2,72.583333
22,2626,Aaron,Nesmith,Vanderbilt,Vanderbilt/USA,1999-10-16,USA,2020,1,6,5,1.96,215,97.5,72.416667
23,2635,Payton,Pritchard,Oregon,Oregon/USA,1998-01-28,USA,2020,1,6,1,1.85,195,88.5,72.083333
25,2586,Malik,Fitts,St. Mary's College,St. Mary's College/USA,1997-07-04,USA,2020,1,6,5,1.96,230,104.3,72.416667
26,2654,Brodric,Thomas,Truman State,Truman State/USA,1997-01-28,USA,2020,1,6,5,1.96,185,83.9,72.416667
27,3195,Matt,Ryan,Tennessee-Chattanooga,Tennessee-Chattanooga/USA,1997-04-17,USA,2021,0,6,7,2.01,215,97.5,72.583333
28,2812,Sam,Hauser,Virginia,Virginia/USA,1997-12-08,USA,2021,0,6,7,2.01,217,98.4,72.583333
34,1012,Norvel,Pelle,Iona,Iona/USA,1993-02-03,USA,2019,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
36,486,Marcus,Smart,Oklahoma State,Oklahoma State/USA,1994-03-06,USA,2014,7,6,4,1.93,220,99.8,72.333333
37,410,Jabari,Parker,Duke,Duke/USA,1995-03-15,USA,2014,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
38,275,Joe,Johnson,Arkansas,Arkansas/USA,1981-06-29,USA,2001,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>

## 4) SELECT AND PRINT THE 2ND and 3RD COLUMNS OF YOUR DATAFRAME.

In [18]:
df_normalized.loc[:, 'id':'firstname']

      id  firstname
0    362         CJ
1    446       Josh
2     75     Jaylen
3    597       Zach
4    230    Juancho
5    609       Ryan
6    882     Jayson
7    806     Justin
8    897    Derrick
9    819       Luke
10   886     Daniel
11  1858      Bruno
12  1013       Theo
13  1857     Carsen
14  1045     Robert
15  1514      Kelan
16  1874      Romeo
17  1920     Dedric
18  1901      Grant
19  1917       Aric
20  2327   Garrison
21  2438      Juwan
22  2626      Aaron
23  2635     Payton
24  2612        Yam
25  2586      Malik
26  2654    Brodric
27  3195       Matt
28  2812        Sam
29  2791     Juhann
30   248         Al
31    12  Al-Farouq
32   291       Enes
33   472     Dennis
34  1012     Norvel
35   496        Nik
36   486     Marcus
37   410     Jabari
38   275        Joe
39  3252      Arnas
40  3100       K.J.

## 5) SELECT AND PRINT THE FIRST 4 ROWS OF YOUR DATAFRAME.

In [19]:

df_normalized.loc[0:3, :]

,id,firstname,lastname,college,affiliation,birthdate,birthcountry,nba_startdate,years_pro,height_ft,height_inch,height_meters,weight_lbs,weight_kg,converted_height
0,362,CJ,Miles,No College,No College/USA,1987-03-18,USA,2005,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>
1,446,Josh,Richardson,Tennessee,Tennessee/USA,1993-09-15,USA,2015,6,6,5,1.96,200,90.7,72.416667
2,75,Jaylen,Brown,California,California/USA,1996-10-24,USA,2016,5,6,6,1.98,223,101.2,72.5
3,597,Zach,Auguste,None,None,None,None,0,0,<NA>,<NA>,NaN,<NA>,NaN,<NA>